body{
     background-color: #cccccc;
}
 .Dados{
     padding-top: 2%;
     padding-bottom: 4%;
     padding-left: 0%;
     margin-left: 30%;
     margin-right: 25%;
}
th{
     background-color: #007bff !important;
}
.TPrincipal{
align-items: center;
text-align: center;
}