body{
     background-color: #cccccc;
     
}

th{
     background-color: #008080 !important;
}
.container{
     padding-top: 4%;
}

.TPrincipal{
align-items: center;
text-align: center;
font-size: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}